@{
    Layout = "_Layout";
    ViewData["Title"] = "Perfil";
    var usuario = ViewContext.HttpContext.Session.GetObject<Usuario>("Usuario");
}
@model List<Partida>
@inject ApplicationDbContext _context

<div class="p-5 w-100 position-relative" style="height:500px; background: linear-gradient(to bottom,rgba(12, 13, 14, 0), rgba(12, 13, 14, 1)), url('/assets/Images/HomeWallpaper.jpeg'); background-size: cover;">
    <a class="nav-link position-absolute top-0 end-0 p-0 m-3" asp-controller="Account" asp-action="LogOut">
        <button type="button" class="btn text-light menuBtnDark">Cerrar sesión</button>
    </a>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn border-0 p-0 rounded-circle" type="button" data-bs-toggle="modal" data-bs-target="#imageModal">
            <img id="ProfileImage" class="rounded-circle img-fluid" src="@Url.Content(usuario.ImagenPerfil)" alt="Foto de perfil" width="165" height="165" />
        </button>
    </div>
    <div class="d-flex align-items-center mt-2">
        <form asp-action="UpdateProfile" asp-controller="Account" method="post" class="align-middle">
            <div class="mb-3 d-flex">
                <input type="text" class="form-control text-center nicknameInput" style="margin-left: 40px;" id="nickname" name="nickname" value="@usuario.UsuarioLoL" readonly>
                <button type="button" class="btn btnEditNickname" id="modifyNicknameBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                </button>
            </div>

            <div class="mb-3 d-flex justify-content-between">
                <div>
                    <label>Rango</label>
                    <select class="form-select inputRounded filtrosSelect selectProfile" aria-label="Default select example" name="rango" id="rangoSelect">
                        @foreach (var rango in ViewData["Rangos"] as List<Rango>)
                        {
                            if (rango.IdRango == usuario.FkRango)
                            {
                                <option value="@rango.IdRango" selected>@rango.NombreRango</option>
                            }
                            <option value="@rango.IdRango">@rango.NombreRango</option>
                        }
                    </select>
                </div>

                <div>
                    <label>Región</label>
                    <select class="form-select inputRounded filtrosSelect" aria-label="Default select example" name="region" id="regionSelect">
                        @foreach (var region in ViewData["Regiones"] as List<Region>)
                        {
                            if (region.IdRegion == usuario.FkRegion)
                            {
                                <option value="@region.IdRegion" selected>@region.NombreRegion</option>
                            }
                            <option value="@region.IdRegion">@region.NombreRegion</option>
                        }
                    </select>
                </div>

                <div>
                    <label>Posición</label>
                    <select class="form-select inputRounded filtrosSelect" aria-label="Default select example" name="posicion" id="posicionSelect">
                        @foreach (var posicion in ViewData["Posiciones"] as List<Posicion>)
                        {
                            if (posicion.IdPosicion == usuario.FkPosicion)
                            {
                                <option value="@posicion.IdPosicion" selected>@posicion.NombrePosicion</option>
                            }

                            <option value="@posicion.IdPosicion">@posicion.NombrePosicion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="mb-3 d-flex text-center">
                <button type="submit" class="btn menuBtnColor w-75 m-auto">Guardar Cambios</button>
            </div>

        </form>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #101014; border-radius: 20px;">
            <div class="modal-body container">
                @{
                    var imageGroups = new[]
                    {
                new[] { "Rengar", "Riven", "Rumble" },
                new[] { "Ryze", "Sejuani", "Senna" },
                new[] { "Seraphine", "Shyvana", "Soraka" }
                        };
                }

                @foreach (var imageGroup in imageGroups)
                {
                    <div class="row">
                        @foreach (var profileImage in imageGroup)
                        {
                            <div class="col-md-4 p-0">
                                <form asp-action="CambiarImagePerfil" asp-controller="Account" method="post" class="align-middle">
                                    <input type="text" class="d-none" name="imgPerfil" value="~/assets/images/imgProfile/@(profileImage).jpg" readonly>
                                    <button class="btn btn-link" type="submit" onclick="changeProfileImage('~/assets/images/imgProfile/@(profileImage).jpg')" name="imgPerfil">
                                        <img class="rounded-circle img-fluid" src="~/assets/images/imgProfile/@(profileImage).jpg" alt="Foto de perfil" style="width: 90%; margin: 5% 0px" />
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<h3 class="mx-5 mt-5 fw-bold">Mis partidas</h3>
<div class="d-flex flex-wrap justify-content-center mb-5">
    @if (Model != null)
    {
        foreach (var partida in Model)
        {
            Random random = new Random();
            int numeroAleatorio = random.Next(1, 6);
            var imageUrl = @Url.Content($"~/assets/images/imgCards/{numeroAleatorio}.jpg");
            var usuarioCreador = _context.Usuario.SingleOrDefault(u => u.IdUsuario == partida.FkUsuarioCreador);
            var servidorPartida = _context.Region.SingleOrDefault(r => r.IdRegion == usuarioCreador.FkRegion);
            var rangoPartida = _context.Rango.SingleOrDefault(r => r.IdRango == partida.FkRango);
            var tipoPartida = _context.TipoPartida.SingleOrDefault(t => t.IdTipoPartida == partida.FkTipoPartida);

            <div class="m-4 card-partida position-relative" style="background: linear-gradient(to left, rgba(6, 6, 6, 1) 30%, rgba(6, 6, 6, 0)), url('@imageUrl'); background-size: cover;">
                <div class="text-white text-capitalize position-absolute top-0 start-0 m-0 ms-4 mt-4" style="text-shadow: 0px 0px 16px black;">
                    <h2 class="fw-bolder">@partida.Titulo</h2>
                    @if (servidorPartida != null)
                    {
                        <p class="opacity-75 m-0" style="font-size: 13px;">Servidor: @servidorPartida.NombreRegion</p>
                    }
                    @if (tipoPartida != null)
                    {
                        <p class="opacity-75 m-0" style="font-size: 13px;">Tipo de partida: @tipoPartida.NombreTipo</p>
                    }
                </div>

                @if (rangoPartida != null)
                {
                    <img style="width: 6rem;" class="position-absolute top-0 end-0 me-4 mt-2" src="~/assets/images/rangos/@(rangoPartida.NombreRango).webp" alt="">
                }
                else
                {
                    <img style="width: 6rem;" class="position-absolute top-0 end-0 me-4 mt-2" src="~/assets/images/rangos/unranked.webp" alt="">
                }

                @* Posiciones *@
                <div class="d-flex position-absolute bottom-0 start-0 ms-4 mb-4">
                    <img class="posicion @(partida.JugadorTop != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/top.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorJungle != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/jungle.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorMid != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/mid.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorSupport != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/support.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorAdc != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/adc.png" alt="">
                </div>
                <div class="position-absolute bottom-0 end-0 me-4 mb-4 text-center">
                    <p class="m-0 mb-1 text-secondary-emphasis" style="font-size: 15px;">Jugadores: @partida.NumJugadores/5</p>
                    <form asp-action="EliminarPartidaPerfil" asp-controller="Partida" method="post">
                        <input type="hidden" name="idPartida" value="@partida.IdPartida" />
                        <button type="submit" class="btn pt-2 BtnLleno text-white w-100" style="cursor: default;">
                            Eliminar Partida
                        </button>
                    </form>
                </div>
            </div>
        }
    }
</div>

<script>
    //script para cambiar el nombre del nickname
    document.getElementById('modifyNicknameBtn').addEventListener('click', function () {
        var nicknameInput = document.getElementById('nickname');
        nicknameInput.removeAttribute('readonly');
        nicknameInput.focus(); // Coloca el foco en el input para que el usuario pueda comenzar a escribir
    });

    //script cambiar imagen perfil
    function changeProfileImage(imageUrl) {
        $('#imgPerfil').value = imgageUrl;
        // Close the modal
        $('#imageModal').modal('hide');
    }
</script>