@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Register";
}

<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <form asp-action="Register" asp-controller="Account" method="post" class="align-middle">
        <div class="mb-3 d-flex justify-content-between">
            <div class="w-50 me-1">
                <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control inputRounded" id="nombreUsuario"
                       name="nombreUsuario" required>
            </div>
            <div class="w-50 ms-1">
                <label for="nombreUsuario" class="form-label">Nickname</label>
                <input type="text" class="form-control inputRounded" id="nombreUsuario"
                       name="nombreUsuario" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="correoElectronico" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control inputRounded" id="correoElectronico" name="correoElectronico" required>
        </div>
        <div class="mb-4 d-flex justify-content-between">
            <div class="w-50 me-1">
                <label for="pass" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input type="password" class="form-control" style="border-radius: 10px 0 0 10px; height: 40px;"
                        id="contrasena" name="contrasena" required>
                    <button class="menuBtnColor px-3 border-0" type="button" id="togglePassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#202024" class="bi bi-eye"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                            <path
                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="w-50 ms-1">
                <label for="passConfirm" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control inputRounded"
                    id="passConfirm" name="passConfirm" required>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
            <div>
                <select name="ran" class="form-select inputRounded" aria-label="Default select example">
                    @foreach (var rango in ViewData["Rangos"] as List<Rango>)
                    {
                        <option value="@rango.IdRango">@rango.NombreRango</option>
                    }
                </select>
            </div>
            <div class="mx-3">
                <select name="reg" class="form-select inputRounded" aria-label="Default select example">
                    @foreach (var region in ViewData["Regiones"] as List<Region>)
                    {
                        <option value="@region.IdRegion">@region.NombreRegion</option>
                    }
                </select>
            </div>
            <div>
                <select name="pos" class="form-select inputRounded" aria-label="Default select example">
                    @foreach (var posicion in ViewData["Posiciones"] as List<Posicion>)
                    {
                        <option value="@posicion.IdPosicion">@posicion.NombrePosicion</option>
                    }
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-5">
            <a asp-area="" asp-controller="Account" asp-action="LogIn"
                class="me-5 align-middle h-100 text-decoration-none linkText">Ya tienes cuenta? Iniciar sesión</a>
            <button type="submit" class="btn menuBtnColor ms-5">Registrarse</button>
        </div>
    </form>
</div>