@model SummonerMatch.Partida;

@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Id partida: @Model.IdPartida
</h1>

<h2>
    Top: @Model.JugadorTop
</h2>

<h2>
    Jungle: @Model.JugadorJungle
</h2>

<h2>
    Mid: @Model.JugadorMid
</h2>

<h2>
    Support: @Model.JugadorSupport
</h2>

<h2>
    Adc: @Model.JugadorAdc
</h2>