@model SummonerMatch.Partida;

@{
    ViewData["Title"] = "Home Page";
    var usuario = ViewContext.HttpContext.Session.GetObject<Usuario>("Usuario");
    bool imIn = false;
    imIn = usuario.UsuarioLoL.Equals(Model.JugadorTop) || usuario.UsuarioLoL.Equals(Model.JugadorJungle) || usuario.UsuarioLoL.Equals(Model.JugadorMid) || usuario.UsuarioLoL.Equals(Model.JugadorSupport) || usuario.UsuarioLoL.Equals(Model.JugadorAdc);

}


<div class="p-5 w-75 m-auto mt-4 d-flex justify-content-between" style="border-radius: 20px; background: linear-gradient(to left, rgba(6, 6, 6, 1) 30%, rgba(6, 6, 6, 0)), url('/assets/Images/DetailWallpaper.jpg'); background-size: cover; background-position: center 35%;">
    <h1 class="fw-bolder" style="color: #F0E6D2;">
        @Model.Titulo
    </h1>

    <div style="margin-right: 150px;">
        <div class="d-flex justify-content-between w-25 m-auto my-2">
            <h5 class="text-center m-0 d-flex align-items-center justify-content-center me-5" style="border: 1px solid rgba(240, 230 ,210, 0.3); min-width: 100px; width: fit-content; height: 40px; background-color: #101014; border-radius: 10px; padding: 16px;">
                @Model.JugadorTop
            </h5>

            <div class="d-flex align-items-center ms-5 me-2">
                <p style="color: #F0E6D2; width: 7ch;" class="m-0">
                    Top
                </p>
                <img class="ms-auto" width="40" src="~/assets/images/posiciones/top.png" alt="">
            </div>

            @if (@Model.JugadorTop == null && !imIn)
            {
                <a href='@Url.Action("UnirsePosicion", "Partida", new { idPartida = @Model.IdPartida, posicion = "top", usuarioLoL = @usuario.UsuarioLoL })'>
                    <button class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                </a>
            }
        </div>

        <div class="d-flex justify-content-between w-25 m-auto my-2">
            <h5 class="text-center m-0 d-flex align-items-center justify-content-center me-5" style="border: 1px solid rgba(240, 230 ,210, 0.3); min-width: 100px; width: fit-content; height: 40px; background-color: #101014; border-radius: 10px; padding: 16px;">
                @Model.JugadorJungle
            </h5>

            <div class="d-flex align-items-center ms-5 me-2">
                <p style="color: #F0E6D2; width: 7ch;" class="m-0">
                    Jungla
                </p>
                <img width="40" src="~/assets/images/posiciones/jungle.png" alt="">
            </div>

            @if (@Model.JugadorJungle == null && !imIn)
            {
                <a href='@Url.Action("UnirsePosicion", "Partida", new { idPartida = @Model.IdPartida, posicion = "jungle", usuarioLoL = @usuario.UsuarioLoL })'>
                    <button class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                </a>
            }
        </div>

        <div class="d-flex justify-content-between w-25 m-auto my-2">
            <h5 class="text-center m-0 d-flex align-items-center justify-content-center me-5" style="border: 1px solid rgba(240, 230 ,210, 0.3); min-width: 100px; width: fit-content; height: 40px; background-color: #101014; border-radius: 10px; padding: 16px;">
                @Model.JugadorMid
            </h5>

            <div class="d-flex align-items-center ms-5 me-2">
                <p style="color: #F0E6D2; width: 7ch;" class="m-0">
                    Mid
                </p>
                <img width="40" src="~/assets/images/posiciones/mid.png" alt="">
            </div>

            @if (@Model.JugadorMid == null && !imIn)
            {
                <a href='@Url.Action("UnirsePosicion", "Partida", new { idPartida = @Model.IdPartida, posicion = "mid", usuarioLoL = @usuario.UsuarioLoL })'>
                    <button class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                </a>
            }
        </div>

        <div class="d-flex justify-content-between w-25 m-auto my-2">
            <h5 class="text-center m-0 d-flex align-items-center justify-content-center me-5" style="border: 1px solid rgba(240, 230 ,210, 0.3); min-width: 100px; width: fit-content; height: 40px; background-color: #101014; border-radius: 10px; padding: 16px;">
                @Model.JugadorSupport
            </h5>

            <div class="d-flex align-items-center ms-5 me-2">
                <p style="color: #F0E6D2; width: 7ch;" class="m-0">
                    Support
                </p>
                <img width="40" src="~/assets/images/posiciones/support.png" alt="">
            </div>

            @if (@Model.JugadorSupport == null && !imIn)
            {
                <a href='@Url.Action("UnirsePosicion", "Partida", new { idPartida = @Model.IdPartida, posicion = "support", usuarioLoL = @usuario.UsuarioLoL })'>
                    <button class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                </a>
            }
        </div>

        <div class="d-flex justify-content-between w-25 m-auto my-2">
            <h5 class="text-center m-0 d-flex align-items-center justify-content-center me-5" style="border: 1px solid rgba(240, 230 ,210, 0.3); min-width: 100px; width: fit-content; height: 40px; background-color: #101014; border-radius: 10px; padding: 16px;">
                @Model.JugadorAdc
            </h5>

            <div class="d-flex align-items-center ms-5 me-2">
                <p style="color: #F0E6D2; width: 7ch;" class="m-0">
                    Adc
                </p>
                <img width="40" src="~/assets/images/posiciones/adc.png" alt="">
            </div>

            @if (@Model.JugadorAdc == null && !imIn)
            {
                <a href='@Url.Action("UnirsePosicion", "Partida", new { idPartida = @Model.IdPartida, posicion = "adc", usuarioLoL = @usuario.UsuarioLoL })'>
                    <button class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                </a>
            }
        </div>
    </div>
</div>
<div class="w-75 m-auto mb-5">
    @if (Model.FkUsuarioCreador == usuario.IdUsuario)
    {
        //boton elimino partida como creador
        <form asp-action="EliminarPartida" asp-controller="Partida" method="post">
            <input type="hidden" name="idPartida" value="@Model.IdPartida" />
            <button type="submit" class="btn pt-2 BtnLleno text-white mt-3">Eliminar Partida</button>
        </form>

    }
    else
    {
        if (imIn)
        {
            // me salgo de la partida como jugador si estoy unido a la partida
            <form asp-action="AbandonarPartida" asp-controller="Partida" method="post">
                <input type="hidden" name="idPartida" value="@Model.IdPartida" />
                <button type="submit" class="btn pt-2 BtnLleno text-white mt-3">Abandonar Partida</button>
            </form>

        }
    }
</div>