@model List<Partida>

@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Home Page";
    var usuario = ViewContext.HttpContext.Session.GetObject<Usuario>("Usuario");
}

<div class="p-5 w-100 parallax-container" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 13, 14, 1)), url('/assets/Images/HomeWallpaper.jpeg');
     background-size: cover; background-position: center;
     background-position: 50% 40%;">
    <div class="jumbotron text-center w-50 m-auto my-5 parallax-content">
        <h1 class="display-4 fw-bold mb-3 text-white">Desafía tus límites, conquista la cima!</h1>
        <p class="lead fw-normal mt-5">SummerMatch es tu plataforma para jugar y crear comunidad.</p>
    </div>
</div>

@* Si el usuario no ha iniciado sesión *@
@if (@usuario == null)
{
    <p style="font-size: 40px; color:white; text-align: center; margin-top: 40px;">
        Inicia sesión para poder unirte a una
        partida
    </p>
}

@if (@usuario != null)
{
    <button type="button" class="btn menuBtnColor" data-bs-toggle="modal" data-bs-target="#imageModal">
        Crear partida
    </button>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="CrearPartida" asp-controller="Partida" method="post" class="align-middle">
                    <div class="modal-body container">
                        <div class="mb-3">
                            <label for="nombrePartida" class="form-label">Nombre de la partida</label>
                            <input type="text" class="form-control inputRounded" id="nombrePartida" name="title" required>
                        </div>
                        <div>
                            <select name="tipoPartida" class="form-select inputRounded" aria-label="Default select example">
                                @foreach (var tipoPartida in ViewData["TiposPartida"] as List<TipoPartida>)
                                {
                                    <option value="@tipoPartida.IdTipoPartida">@tipoPartida.NombreTipo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Crear Partida</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div class="d-flex flex-wrap justify-content-center">
    @* Si hay partidas *@
    @if (@Model != null)
    {
        @foreach (var partida in Model)
        {
            <div class="grupo-partida m-4
                @(partida.JugadorTop != null &&
                  partida.JugadorJungle != null &&
                  partida.JugadorMid != null &&
                  partida.JugadorSupport != null &&
                  partida.JugadorAdc != null ? "partidaLlena" : "partidaDisponible")">

                <img class="fondo" src="https://i.ytimg.com/vi/KpxjwIaW0EM/maxresdefault.jpg" style="filter: brightness(0.5);"
                     alt="">

                <h3 class="fw-bolder">@partida.Titulo</h3>

                <div>
                    <img class="@(partida.JugadorTop != null ? "opacity-50" : "opacity-100")" src="~/assets/images/posiciones/top.png" alt="">
                    <img class="@(partida.JugadorJungle != null ? "opacity-50" : "opacity-100")" src="~/assets/images/posiciones/jungle.png" alt="">
                    <img class="@(partida.JugadorMid != null ? "opacity-50" : "opacity-100")" src="~/assets/images/posiciones/mid.png" alt="">
                    <img class="@(partida.JugadorSupport != null ? "opacity-50" : "opacity-100")" src="~/assets/images/posiciones/support.png" alt="">
                    <img class="@(partida.JugadorAdc != null ? "opacity-50" : "opacity-100")" src="~/assets/images/posiciones/adc.png" alt="">
                </div>

                @if(usuario == null)
                {
                    <a href="@Url.Action("Login", "Account", new { Id = @partida.IdPartida })"
                       style="padding: 16px!important; line-height: 1!important; background-color: #bb5" class="w-auto">
                        Iniciar sesión
                    </a>
                }
                else if (partida.JugadorTop != null &&
                         partida.JugadorJungle != null &&
                         partida.JugadorMid != null &&
                         partida.JugadorSupport != null &&
                         partida.JugadorAdc != null)
                {
                    <a style="padding: 16px!important; line-height: 1!important; background-color: #933" class="w-auto">
                        Grupo lleno
                    </a>
                }
                else
                {
                    <a href="@Url.Action("DetallesPartida", "Partida", new { Id = @partida.IdPartida })"
                       style="padding: 16px!important; line-height: 1!important; background-color: #494" class="w-auto">
                        Unirse
                    </a>
                }
            </div>
        }
    }
</div>
<div style="height: 3000px;"></div>
