@model List<Partida>

@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Home Page";
    var usuario = ViewContext.HttpContext.Session.GetObject<Usuario>("Usuario");
}

<div class="p-5 w-100 parallax-container" style="background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 13, 14, 1)), url('/assets/Images/HomeWallpaper.jpeg');
     background-size: cover; background-position: center;
     background-position: 50% 40%;">
    <div class="jumbotron text-center w-50 m-auto my-5 parallax-content">
        <h1 class="display-4 fw-bold mb-3 text-white">Desafía tus límites, conquista la cima!</h1>
        <p class="lead fw-normal mt-5">SummerMatch es tu plataforma para jugar y crear comunidad.</p>
    </div>
</div>

@* Si el usuario no ha iniciado sesión *@
@if (@usuario == null)
{
    <p style="font-size: 40px; color:white; text-align: center; margin-top: 40px;">
        Inicia sesión para poder unirte a una
        partida
    </p>
}

@if (@usuario != null)
{
    <button type="button" class="btn menuBtnColor" data-bs-toggle="modal" data-bs-target="#imageModal">
        Crear partida
    </button>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="CrearPartida" asp-controller="Partida" method="post" class="align-middle">
                    <div class="modal-body container">
                        <div class="mb-3">
                            <label for="nombrePartida" class="form-label">Nombre de la partida</label>
                            <input type="text" class="form-control inputRounded" id="nombrePartida" name="title" required>
                        </div>
                        <div>
                            <select name="tipoPartida" class="form-select inputRounded" aria-label="Default select example">
                                @foreach (var tipoPartida in ViewData["TiposPartida"] as List<TipoPartida>)
                                {
                                    <option value="@tipoPartida.IdTipoPartida">@tipoPartida.NombreTipo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Crear Partida</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div class="d-flex flex-wrap justify-content-center">
    @* Si hay partidas *@
    @if (@Model != null)
    {
        @foreach (var partida in Model)
        {
            Random random = new Random();
            int numeroAleatorio = random.Next(1, 6);
            var imageUrl = @Url.Content($"~/assets/images/imgCards/{numeroAleatorio}.jpg");

            <div class="m-4 card-partida position-relative
                @(partida.JugadorTop != null &&
                  partida.JugadorJungle != null &&
                  partida.JugadorMid != null &&
                  partida.JugadorSupport != null &&
                  partida.JugadorAdc != null ? "no-disponible" : "disponible")"
                 style="background: linear-gradient(to left, rgba(6, 6, 6, 1) 30%, rgba(6, 6, 6, 0)), url('@imageUrl'); background-size: cover;">

                <h2 class="fw-bolder text-white text-capitalize position-absolute top-0 start-0 m-0 ms-5 mt-4" style="text-shadow: 0px 0px 16px black;">@partida.Titulo</h2>
                <img style="width: 6rem;" class="position-absolute top-0 end-0 me-5 mt-3" src="~/assets/images/rangos/gold.webp" alt="">

                @* Posiciones *@
                <div class="d-flex position-absolute bottom-0 start-0 ms-5 mb-4">
                    <img class="posicion @(partida.JugadorTop != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/top.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorJungle != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/jungle.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorMid != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/mid.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorSupport != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/support.png" alt="">
                    <img class="posicion ms-2 @(partida.JugadorAdc != null ? "opacity-75 posicion-off" : "opacity-100 posicion-on")" src="~/assets/images/posiciones/adc.png" alt="">
                </div>

                @* Botones (Iniciar sesión, Unirse, Lleno) *@
                <div class="position-absolute bottom-0 end-0 me-5 mb-4 text-center">
                    <p class="m-0 mb-1 text-secondary-emphasis">Jugadores: 5/4</p>
                    @if (usuario == null)
                    {
                        <a asp-controller="Account" asp-action="Login">
                            <button type="button" class="btn pt-2 BtnIniciarSesion w-100">Iniciar sesión</button>
                        </a>
                    }
                    else if (partida.JugadorTop != null &&
                    partida.JugadorJungle != null &&
                    partida.JugadorMid != null &&
                    partida.JugadorSupport != null &&
                    partida.JugadorAdc != null)
                    {
                        <button type="button" class="btn pt-2 BtnLleno text-white w-100" disabled>
                            Grupo lleno
                        </button>
                    }
                    else
                    {
                        <a href="@Url.Action("DetallesPartida", "Partida", new { Id = @partida.IdPartida })">
                            <button type="button" class="btn pt-2 BtnUnirse text-white w-100">Unirse</button>
                        </a>
                    }
                </div>
            </div>
        }
    }
</div>
<div style="height: 3000px;"></div>
