@model SummonerMatch.Partida;

@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Id partida: @Model.IdCardPartida
</h1>

<h2>
    Top: @Model.posicionTop
</h2>

<h2>
    Jungle: @Model.posicionJungle
</h2>

<h2>
    Mid: @Model.posicionMid
</h2>

<h2>
    Support: @Model.posicionSupport
</h2>

<h2>
    Adc: @Model.posicionAdc
</h2>